*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearButton {
  background: linear-gradient(to bottom, #ff3838 5%, #c62d1f 100%);
  background-color: #ff3838;
  border-radius: 40%;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #810e05;
  float: right;
}

.clearButton:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #ff3838 100%);
  background-color: #c62d1f;
}

.clearButton:active {
  position: relative;
  top: 1px;
  outline: none;
}

.clearButton:focus {
  outline: none;
}
